[Unit]
Description=GPPREMIUM
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -jar /opt/wildfly/standalone/deployments/gp-premium-0.0.16-SNAPSHOT.jar
[Install]
WantedBy=multi-user.target